<h1>Rent an office</h1>

<% @offices.each do |office| %>
  <%= link_to office_path(office) do %>
  <div class="card-product">
    <%# <%= image_tag "#" %>
    <div class="card-product-infos">
      <h2><%= office.title %></h2>
      <p>Price: Rs <%= number_with_delimiter(office.price, :delimiter => ',') %></p>
    </div>
  </div>
  <% end %>
<% end %>



<%= link_to 'Add new office', new_office_path, class: 'btn btn-dark' %>
